<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.paipianwang.pat.facade.indent.service.dao.impl.PmsIndentDaoImpl">

	<!-- 产品信息表 -->
	<sql id="pms_indent"> INDENT </sql>
	<sql id="pms_salesman"> SALESMAN </sql>

	<resultMap type="PmsIndent" id="beanMap">
		<id column="indentId" property="id" />
		<result column="indentName" property="indentName" />
		<result column="indentNum" property="indentNum" />
		<result column="indentType" property="indentType" />
		<result column="serviceId" property="serviceId" />
		<result column="orderDate" property="orderDate" />
		<result column="indentPrice" property="indentPrice" />
		<result column="productId" property="productId" />
		<result column="teamId" property="teamId" />
		<result column="second" property="second" />
		<result column="indent_tele" property="indent_tele" />
		<result column="indent_recomment" property="indent_recomment" />
		<result column="indent_description" property="indent_description" />
		<result column="salesmanUniqueId" property="salesmanUniqueId" />

		<result column="userId" property="userId" />
		<result column="userCompany" property="userCompany" />
		<result column="realName" property="realName" />
		<result column="wechat" property="wechat" />
		<result column="position" property="position" />
		<result column="requireId" property="requireId" />
		<result column="pMId" property="pMId" />
		<result column="cSRecomment" property="cSRecomment" />
		<result column="pMRecomment" property="pMRecomment" />
		<result column="indentSource" property="indentSource" />
		<result column="referrerId" property="referrerId" />
	</resultMap>

	<sql id="update_condition_sql">
		<!-- Equal query -->
		<if test="targetFileId != null and targetFileId != ''"> convertVideoUrl = #{targetFileId}</if>
	</sql>

	<select id="listPage" parameterType="java.util.Map" resultMap="beanMap">
		SELECT
			    INDENTID AS id,
				INDENTNAME AS indentName,
				INDENTPRICE AS indentPrice,
				DATE_FORMAT(ORDERDATE, '%Y-%m-%d %T') AS orderDate,
				INDENTTYPE AS indentType,
				INDENT_TELE AS indent_tele,
				INDENT_RECOMMENT AS indent_recomment,
				INDENT_DESCRIPTION AS indent_description,
				SALESMANUNIQUEID AS salesmanUniqueId,
				sale.SALESMANNAME AS salesmanName,
				ind.EMPLOYEEID AS employeeId,
				ind.USERID AS userId,
				IFNULL(us.userCompany,ind.USERCOMPANY) AS userCompany,
				IFNULL(us.REALNAME,ind.REALNAME) AS realName,
				IFNULL(us.wechat,ind.WECHAT) AS wechat,
				IFNULL(us.position,ind.POSITION) AS position,
				ind.REQUIREID AS requireId,
				ind.CSRecomment AS cSRecomment,
				ind.PMRecomment AS pMRecomment,
				ind.indentSource AS indentSource,
				ind.referrerId AS referrerId,
		  		ind.pMId AS pMId
		FROM
		<include refid="pms_indent" />
		ind
		LEFT JOIN
		<include refid="pms_salesman" />
		sale
		ON ind.salesmanUniqueId = sale.uniqueId
		LEFT JOIN USERS us ON ind.userId = us.id
		<where>
			<if test="id != null and id != ''">
				INDENTID LIKE CONCAT(CONCAT('%',#{id}),'%')
			</if>
			<if test="indentType != null">
				AND INDENTTYPE = ${indentType}
			</if>
			<if test="indentType == null and types != null">
				AND INDENTTYPE IN
				<foreach collection="types" open="(" close=")" item="item"
						separator=",">
						#{item}
				</foreach>	
			</if>
			<if test="indent_tele != null and indent_tele != ''">
				AND INDENT_TELE LIKE
				CONCAT(CONCAT('%',#{indent_tele}),'%')
			</if>
			<if test="beginTime != null and beginTime != '' ">
				AND DATE_FORMAT(orderDate,'%Y-%m-%d') &gt;=
				#{beginTime}
			</if>
			<if test="endTime != null  and endTime != ''">
				AND DATE_FORMAT(orderDate,'%Y-%m-%d') &lt;= #{endTime}
			</if>
			<if test="employeeId != null  and employeeId != ''">
				AND EMPLOYEEID = #{employeeId}
			</if>
			<if test="indentSource != null and indentSource != -1">
				AND INDENTSOURCE = #{indentSource}
			</if>
			<if test="userCompany != null  and userCompany != ''">
				AND USERCOMPANY LIKE
				CONCAT(CONCAT('%',#{userCompany}),'%')
			</if>
			<if test="realName != null  and realName != ''">
				AND REALNAME LIKE
				CONCAT(CONCAT('%',#{realName}),'%')
			</if>
			
		</where>
		ORDER BY
		<if test="sort != null and sort != '' and order != null and order != ''">
			${sort} ${order},
		</if>
		ORDERDATE desc
		limit ${begin}, ${limit}
	</select>

	<select id="listPageCount" parameterType="java.util.Map"
		resultType="java.lang.Long">
		SELECT COUNT(1)
		FROM
		<include refid="pms_indent" />
		<where>
			<if test="id != null and id != ''">
				INDENTID LIKE CONCAT(CONCAT('%',#{id}),'%')
			</if>
			<if test="indentType != null and indentType != ''">
				AND INDENTTYPE = ${indentType}
			</if>
			<if test="indentType == null and types != null">
				AND INDENTTYPE IN
				<foreach collection="types" open="(" close=")" item="item"
						separator=",">
						#{item}
				</foreach>	
			</if>
			<if test="indent_tele != null and indent_tele != ''">
				AND INDENT_TELE LIKE
				CONCAT(CONCAT('%',#{indent_tele}),'%')
			</if>
			<if test="beginTime != null and beginTime != '' ">
				AND DATE_FORMAT(orderDate,'%Y-%m-%d') &gt;=
				#{beginTime}
			</if>
			<if test="endTime != null  and endTime != ''">
				AND DATE_FORMAT(orderDate,'%Y-%m-%d') &lt;=
				#{endTime}
			</if>
			<if test="employeeId != null  and employeeId != ''">
				AND EMPLOYEEID = #{employeeId}
			</if>
			<if test="indentSource != null and indentSource != -1">
				AND INDENTSOURCE = #{indentSource}
			</if>
			<if test="userCompany != null  and userCompany != ''">
				AND USERCOMPANY LIKE
				CONCAT(CONCAT('%',#{userCompany}),'%')
			</if>
			<if test="realName != null  and realName != ''">
				AND REALNAME LIKE
				CONCAT(CONCAT('%',#{realName}),'%')
			</if>
		</where>
	</select>

	<select id="listBy" parameterType="java.util.Map" resultMap="beanMap">
		SELECT INDENTID AS id,
			INDENTNAME AS indentName,
			INDENTPRICE AS indentPrice,
			DATE_FORMAT(ORDERDATE,'%Y-%m-%d %T') AS orderDate,
			INDENTTYPE AS indentType,
			INDENT_TELE AS indent_tele,
			INDENT_RECOMMENT AS indent_recomment,
			INDENT_DESCRIPTION AS indent_description,
			SALESMANUNIQUEID AS salesmanUniqueId
		FROM
		<include refid="pms_indent" />
		<where>
			<if test="id != null and id != ''">
				INDENTID LIKE CONCAT(CONCAT('%',#{id}),'%')
			</if>
			<if test="indentType != null and indentType != ''">
				AND INDENTTYPE = ${indentType}
			</if>
			<if test="indentType == null and types != null">
				AND INDENTTYPE IN
				<foreach collection="types" open="(" close=")" item="item"
						separator=",">
						#{item}
				</foreach>	
			</if>
			<if test="indent_tele != null and indent_tele != ''">
				AND INDENT_TELE LIKE
				CONCAT(CONCAT('%',#{indent_tele}),'%')
			</if>
			<if test="beginTime != null and beginTime != '' ">
				AND DATE_FORMAT(orderDate,'%Y-%m-%d') &gt;=
				#{beginTime}
			</if>
			<if test="endTime != null  and endTime != ''">
				AND DATE_FORMAT(orderDate,'%Y-%m-%d') &lt;=
				#{endTime}
			</if>
			<if test="employeeId != null  and employeeId != ''">
				AND EMPLOYEEID = #{employeeId}
			</if>
			<if test="indentSource != null and indentSource != -1">
				AND INDENTSOURCE = #{indentSource}
			</if>
			<if test="userCompany != null  and userCompany != ''">
				AND USERCOMPANY LIKE
				CONCAT(CONCAT('%',#{userCompany}),'%')
			</if>
			<if test="realName != null  and realName != ''">
				AND REALNAME LIKE
				CONCAT(CONCAT('%',#{realName}),'%')
			</if>
		</where>
		ORDER BY
		<if test="sort != null and sort != '' and order != null and order != ''">
			${sort} ${order},
		</if>
		ORDERDATE desc
	</select>
	<insert id="insert" parameterType="PmsIndent" useGeneratedKeys="true"
		keyProperty="id">
		INSERT INTO
		<include refid="pms_indent" />
		(
			INDENTNAME,
			INDENTNUM,
			INDENTTYPE,
			SERVICEID,
			INDENT_TELE,
			INDENT_RECOMMENT,
			INDENT_DESCRIPTION,
			SALESMANUNIQUEID,
			PRODUCTID,
			INDENTPRICE,
			TEAMID,
			ORDERDATE,
			INDENTSOURCE,
			REFERRERID,
			EMPLOYEEID,
			USERCOMPANY,
			REALNAME
		) VALUES (
			#{indentName},
			#{indentNum},
			${indentType},
			${serviceId},
			#{indent_tele},
			#{indent_recomment},
			#{indent_description},
			#{salesmanUniqueId},
			${productId},
			${indentPrice},
			${teamId},
			CURRENT_TIMESTAMP,
			#{indentSource},
			${referrerId},
			#{employeeId},
			#{userCompany},
			#{realName}
		)
	</insert>
	<insert id="saveOrder" parameterType="PmsIndent"
		useGeneratedKeys="true" keyProperty="id">
		INSERT INTO
		<include refid="pms_indent" />
		(
			INDENTNAME,
			TEAMID,
			SERVICEID,
			PRODUCTID,
			INDENTPRICE,
			SECOND,
			INDENT_TELE,
			INDENT_RECOMMENT,
			SALESMANUNIQUEID,
			INDENTSOURCE,
			REFERRERID,
			EMPLOYEEID,
			USERCOMPANY,
			REALNAME
		) VALUES (
			#{indentName},
			${teamId},
			${serviceId},
			${productId},
			${indentPrice},
			${second},
			#{indent_tele},
			#{indent_recomment},
			#{salesmanUniqueId},
			#{indentSource},
			#{referrerId},
			#{employeeId},
			#{userCompany},
			#{realName}
		)
	</insert>
	<update id="update" parameterType="PmsIndent">
		UPDATE
		<include refid="pms_indent" />
		<set>
			INDENTNAME = #{indentName},
			SECOND = #{second},
			INDENTPRICE = ${indentPrice},
			INDENTTYPE = ${indentType},
			INDENT_TELE =#{indent_tele},
			ORDERDATE = DATE_FORMAT(#{orderDate},'%Y-%m-%d %T'),
			INDENT_RECOMMENT = #{indent_recomment},
			INDENT_DESCRIPTION = #{indent_description},
			SALESMANUNIQUEID = #{salesmanUniqueId},
			<if test="userId != null and userId !=''">
				USERID = #{userId},			
			</if>
			<if test="realName != null and realName !=''">
				REALNAME = #{realName},		
			</if>
			<if test="wechat != null and wechat !=''">
				WECHAT = #{wechat},	
			</if>
			<if test="userCompany != null and userCompany !=''">
				USERCOMPANY = #{userCompany},	
			</if>
			<if test="position != null">
				POSITION = #{position},	
			</if>
			<if test="requireId != null and requireId !=''">
				REQUIREID = #{requireId},
			</if>
			<if test="pMId != null and pMId !=''">
				pMId = #{pMId},
			</if>
			<if test="cSRecomment != null and cSRecomment !=''">
				CSRecomment = #{cSRecomment},
			</if>
			<if test="pMRecomment != null and pMRecomment !=''">
				PMRecomment = #{pMRecomment},
			</if>
			<if test="indentSource != null and indentSource != -1">
				indentSource = #{indentSource},
			</if>
			<if test="referrerId != null">
				referrerId = #{referrerId},
			</if>
		</set>
		<where>
			INDENTID = #{id}
		</where>
	</update>

	<delete id="deleteByIds">
		DELETE FROM
		<include refid="pms_indent" />
		<where>
			INDENTID IN
			<if test="ids != null and ids != ''">
				<foreach collection="ids" open="(" close=")" item="item"
					separator=",">
					#{item}
				</foreach>
			</if>
		</where>
	</delete>

	<update id="changeIndentsType">
		UPDATE
		<include refid="pms_indent" />
		SET INDENTTYPE = ${indentType}
		<where>
			INDENTID IN
			<if test="array != null and array != ''">
				<foreach collection="array" open="(" close=")" item="item"
					separator=",">
					#{item}
				</foreach>
			</if>
		</where>
	</update>
	<select id="checkStatus" resultType="long">
		SELECT COUNT(1)
		FROM
		<include refid="pms_indent" />
		<where>
			INDENTTYPE = #{indentType}
		</where>

	</select>
	<update id="updateForCalculate">
		UPDATE
		<include refid="pms_indent" />
		<set>
			INDENT_RECOMMENT = #{indent_recomment},
			INDENTPRICE = ${indentPrice},
			ORDERDATE = CURRENT_TIMESTAMP
		</set>
		<where>
			INDENTID = #{id}
		</where>
	</update>
	<update id="updateCustomerService">
		UPDATE
		<include refid="pms_indent" />
		<set>
			employeeId = #{employeeId}
		</set>
		<where>
			INDENTID = #{indentId}
		</where>
	</update>
	
	<update id="rejected">
		UPDATE
		<include refid="pms_indent" />
		<set>
			INDENTTYPE = ${indentType}
		</set>
		<where>
			INDENTID = #{indentId}
		</where>
	</update>

	<select id="countBySalesmanUniqueId" resultType="long">
		SELECT COUNT(1)
		FROM
		<include refid="pms_indent" />
		<where>
			SALESMANUNIQUEID = #{salesmanUniqueId}
		</where>
	</select>

	<select id="sumPriceBySalesmanUniqueId" resultType="Double">
		SELECT SUM(INDENTPRICE)
		FROM
		<include refid="pms_indent" />
		<where>
			SALESMANUNIQUEID = #{salesmanUniqueId}
		</where>
	</select>
	
	<select id="getById" resultMap="beanMap">
		SELECT 
			INDENTID AS id,
			INDENTNAME AS indentName,
			INDENTPRICE AS indentPrice,
			DATE_FORMAT(ORDERDATE, '%Y-%m-%d %T') AS orderDate,
			INDENTTYPE AS indentType,
			INDENT_TELE AS indent_tele,
			INDENT_RECOMMENT AS indent_recomment,
			INDENT_DESCRIPTION AS indent_description,
			SALESMANUNIQUEID AS salesmanUniqueId,
			ind.EMPLOYEEID AS employeeId,
			ind.USERID AS userId,
			IFNULL(us.userCompany,ind.USERCOMPANY) AS userCompany,
			IFNULL(us.REALNAME,ind.REALNAME) AS realName,
			IFNULL(us.wechat,ind.WECHAT) AS wechat,
			IFNULL(us.position,ind.POSITION) AS position,
			ind.REQUIREID AS requireId,
			ind.CSRecomment AS cSRecomment,
			ind.PMRecomment AS pMRecomment,
			ind.indentSource AS indentSource,
			ind.referrerId AS referrerId,
	  		ind.pMId AS pMId
		FROM
		<include refid="pms_indent" />
			ind
		LEFT JOIN USERS us ON ind.userId = us.id
		<where>
			INDENTID  = #{id}
		</where>
	</select>
	
	<select id="findIndentByRequireId" resultMap="beanMap">
		SELECT 
			INDENTID AS id,
			INDENTNAME AS indentName,
			INDENTPRICE AS indentPrice,
			DATE_FORMAT(ORDERDATE, '%Y-%m-%d %T') AS orderDate,
			INDENTTYPE AS indentType,
			INDENT_TELE AS indent_tele,
			INDENT_RECOMMENT AS indent_recomment,
			INDENT_DESCRIPTION AS indent_description,
			SALESMANUNIQUEID AS salesmanUniqueId,
			ind.EMPLOYEEID AS employeeId,
			ind.USERID AS userId,
			IFNULL(us.userCompany,ind.USERCOMPANY) AS userCompany,
			IFNULL(us.REALNAME,ind.REALNAME) AS realName,
			IFNULL(us.wechat,ind.WECHAT) AS wechat,
			IFNULL(us.position,ind.POSITION) AS position,
			ind.REQUIREID AS requireId,
			ind.CSRecomment AS cSRecomment,
			ind.PMRecomment AS pMRecomment,
			ind.indentSource AS indentSource,
			ind.referrerId AS referrerId,
	  		ind.pMId AS pMId
		FROM
		<include refid="pms_indent" />
			ind
		LEFT JOIN USERS us ON ind.userId = us.id
		<where>
			INDENTID = #{id}
		</where>
	</select>
	
</mapper>